.navbar__dropdown {
  display: none;
  position: absolute;
  left: -30px;
  top: 100%;
  background: var(--white);
  min-width: 289px;
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 25px 30px;
}

.navbar__item_has-dropdown:hover .navbar__dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar_opened .navbar__dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  padding: 32px 0 0 0;
  width: 100%;
  min-width: auto;
  left: 0;
  top: 0;
}

.navbar__item_more .navbar__dropdown .navbar__dropdown {
  position: relative;
  padding-right: 0;
}
