.cta__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 40px 50px 40px;
  width: 100%;
  max-width: var(--max-width);
  border-radius: 20px;
  background-color: var(--light-gray-2);
  background-image: url(../../../images/curve_8.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
