.footer__logo {
  background-image: url('../../../images/logo_white.svg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 149px;
  height: 42px;
}

@media (max-width: 375px) {
  .footer__logo {
    width: 120px;
  }
}
