.card-parties__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  padding-top: 8px;
  margin: 0;
  max-width: 341px;
  position: relative;
  z-index: 2;
}
