.header__rightside {
  list-style: none;
  margin: 0;
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media (max-width: 767px) {
  .header__rightside {
    padding-right: 20px;
  }

  .sidebar_opened .header__rightside {
    padding-right: 0;
  }
}
