.events__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: var(--dark-blue);
  margin: 0;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .events__title {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .events__title {
    font-size: 25px;
  }
}
