.one-time-pass__image {
  border-radius: 8px;
  overflow: hidden;
  width: auto;
}

.one-time-pass__image img {
  width: 100%;
  max-width: 440px;
  height: 100%;
  object-fit: cover;
}

@media (width <= 768px) {
  .one-time-pass__image {
    display: none;
  }
}
