.tile-wide__info-title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: var(--dark-blue);
}

@media (max-width: 767px) {
  .tile-wide__info-title {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .tile-wide__info-title {
    font-size: 25px;
  }
}
