.button-orange {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding: 0 24px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--orange);
  text-decoration: none;
}

.button-orange:hover {
  opacity: 0.9;
}
