.schedule {
  border-radius: 10px;
  padding: 12px 10px;
  background: var(--light-blue-2);
  list-style: none;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
}
