.tile__info_drone::after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: -34px;
  width: 190px;
  height: 95px;
  background-image: url('../../../../images/drone.png');
  transform: rotate(355deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}
