.plan__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

.plan:nth-child(1) .plan__title {
  color: var(--white);
}

.plan:nth-child(2) .plan__title,
.plan:nth-child(3) .plan__title {
  color: var(--dark-blue);
}

@media (width <= 1024px) {
  .plan__title {
    font-size: 20px;
  }
}
