.card-academy__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-gray);
}

@media (max-width: 530px) {
  .card-academy__list {
    font-size: 16px;
  }
}
