.tile__info {
  padding: 70px 24px;
  border-radius: 10px;
  background-color: var(--white);
  position: relative;
}

@media (max-width: 767px) {
  .stem-explorer__tiles li:nth-child(even) .tile__info {
    order: 2;
  }
}
